.custom-cursor {
    position: fixed;
    width: 90px;
    height: 90px;
    background-color: rgb(13, 13, 78, 5);
    border: 300px solid rgb(19, 30, 58, 5);
    border-radius: 1500rem;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease, width 0.2s ease, height 0.2s ease, background-color 0.2s ease;
    filter: blur(6rem);
    z-index: -1;
  }
