.works-02{
    display: flex;
    justify-content: center;
    font-family:  'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
    color: var(--light-color);
    margin-top: 10rem;
}

.experience-container {
  font-family:  'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
    display: flex;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    gap: 20px;
  }
  
  .sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 30%;
  }
  
  .vertical-line {
    position: absolute;
    left: 10px;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: block;
  }
  
  .green-indicator {
    position: absolute;
    left: 10px;
    width: 2px;
    height: 20px;
    background-color: var(--green-color);
    transition: transform 0.3s ease-in-out;
  }
  
  .company-button {
    padding-left: 20px;
    text-align: left;
    font-weight: 600;
    color: #4b5563;
    transition: color 0.3s ease-in-out;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .company-button.active {
    color: var(--green-color);
  }
  
  .description2 {
    width: 70%;
    padding-left: 20px;
    border-left: .5px solid #d1d5db;
    height: 20rem;
  }
  
  .description2 h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--light-color);
  }
  
  .description2 p {
    margin-top: 10px;
    color: #6b7280;
  }

  @media(max-width: 768px) {
    .green-indicator {
      height: 30px;
    }
    .sidebar {
      gap: 30px;
    }
  }
  