.section-three {
    color: var(--light-color);
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    display: flex;
    margin: 20%;
}


.style-works {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
    gap: 2rem; /* Espaciado entre columnas */
    margin: 10%; 
    margin-top: -10rem;
    width: 80%;
    align-items: center;
    
}

.information-works {
    text-align: right;
    margin-right: 10%;
}
.img-proyects {
    width: 40rem;

}




.studie-proyects {
    color: var(--green-color);
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

.style-works h3{
    color: var(--light-color);
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

.list-tecnology {
    display: flex;
    gap: 30px;
    list-style: none;
    color: var(--grey-color);
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

.content-description {
    position: relative;
    margin-left: -100px;
    background-color: #112240;
    border-radius: 5px;
    width: 30rem;
    color: var(--grey-color);
    padding: 25px;
    letter-spacing: 2px;
    font-family:Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
    
}