.section-three {
    color: var(--light-color);
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    display: flex;
    margin: 10%;
}


.style-works {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 2rem; 
    margin: 10%; 
    margin-top: 1rem;
    width: 80%;
    align-items: center;
    
}

.information-works {
    text-align: right;
    margin-right: 10%;
}
.img-proyects {
    cursor: pointer;
    width: 40rem;
    filter: grayscale();
    
}

.img-proyects:hover {
    filter:none;
    transition: .5s;
    border-radius: 5px;
}



.studie-proyects {
    color: var(--green-color);
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

.style-works, .style-works-reverce  h3{
    color: var(--light-color);
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}


.list-tecnology {
    display: flex;
    gap: 30px;
    list-style: none;
    color: var(--grey-color);
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

.content-description {
    position: relative;
    margin-left: -100px;
    background-color: #112240;
    border-radius: 5px;
    width: 30rem;
    color: var(--grey-color);
    padding: 25px;
    letter-spacing: 2px;
    font-family:Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
    
}

.information-works-reverce {
    margin-right: 10%;
}
.img-proyects-reverce {
    cursor: pointer;
    margin-left: 30rem;
    margin-top: -20rem;
    width: 40rem;
    filter: grayscale();
}

.img-proyects-reverce:hover {
    filter:none;
    transition: .5s;
    border-radius: 5px;
}

.style-works-reverce {
    display: flex;
    gap: 2rem; 
    margin: 10%; 
    margin-top: 1rem;
    width: 80%;
    align-items: center;
    
}

.content-description-reverce {
    position: relative;
    background-color: #112240;
    border-radius: 5px;
    width: 30rem;
    color: var(--grey-color);
    padding: 25px;
    letter-spacing: 2px;
    font-family:Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
    z-index: 1;
}

.icon {
    
    width: 24px;
    height: 24px;
    fill: black;
    transition: fill 0.3s ease-in-out;
    cursor: pointer;
    margin: 5px;
  }
  
  .icon:hover {
    color: var(--green-color);
  }

  .iconWorks {
    color: var(--light-color);
  }


@media (max-width: 768px) {
    .style-works{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .style-works-reverce{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    
    .img-proyects{
        width: 24rem;
        margin: 10px;
        margin-top: 5rem;
        display: inline-block;
        
    }
    .img-proyects-reverce {
        width: 24rem;
        margin: 10px; 
    }

    .section-three {
        align-items: center;
        margin: 0;
        margin-top: 10rem;
        font-size: 16px;
    }

    .information-works, .information-works-reverce {
       margin: 0;
       text-align: center;
    }
    .information-works-reverce {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 5rem;
    }

    .content-description-reverce  {
        margin-left: 70px;
    }
    

    .content-description, .content-description-reverce{
        margin: 20px;
        width: 20rem;
    } 

    .style-works-reverce {
        display: flex;
        flex-direction: row-reverse;
    }

    
}

@media (min-width: 1920px) and (max-width: 2560px) {
  

    .style-works {
        width: 20rem;
        margin: 0 28% 10%;
    }

    .style-works-reverce {
        margin-left: 43rem;
    }

    .section-three{
        margin-left: 28%;
    }
}