.about-me-container {
    display: flex;
    margin: 15%;
    gap: 30px;
}

.img-chan {
    margin-top: 30%;
    width: 15rem;
    height: 20rem;
    border-radius: 5px;
}


.text-container {
    padding-right: 5%;
}

.text-container h1 {
    color: var(--light-color);
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

.text-container p {
    color: var(--grey-color);
    font-family:Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
    line-height: 30px;
}

.order-list {
    font-family:Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--grey-color);
    list-style: none;
}

.order-list span {
    font-size: 13px;

}

@media (max-width: 768px) {
    .about-me-container {
        display: block;
        margin: 5%;
        margin-top: 70%;
    }
    .text-container h1 {
        font-size: 20px;
    }

    .img-chan{
        margin: 15%;
    }

    .img-chan:hover {   
        background-color: var(--green-color);
        cursor: pointer;
        transition: 1s;
    }

}