.about-me-container {
    display: flex;
    margin: 15%;
    gap: 30px;
}

.text-container {
    padding-right: 5%;
}

.text-container h1 {
    color: var(--light-color);
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

.text-container p {
    color: var(--grey-color);
    font-family:Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
    line-height: 30px;
}

.order-list {
    font-family:'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    font-size: 13px;
    line-height: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--grey-color);
    list-style: none;
}

.order-list span {
    font-size: 13px;

}

.img-container-chan {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-top: 10%;
}

.img-chan {
    width: 100%;
    display: block;
    border-radius: 5px;
}

.img-container-chan::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 81%; 
    background: rgba(8, 153, 117, 0.547);
    transition: opacity 0.3s ease-in-out;
    border-radius: 5px;
}

.img-container-chan:hover::after {
    opacity: 0;
}


@media (max-width: 768px) {
    .about-me-container {
        display: block;
        margin: 5%;
        margin-top: 70%;
    }
    .text-container h1 {
        font-size: 20px;
    }

    .img-chan{
        width: 20rem;
        margin-left: 5%;
    }

    .img-container-chan::after {
        width: 100%;
        height: 100%;
        margin-left: 5%;
        border-radius: 5px;
        
    }
    .title-about {
         display: flex;
 }

}

@media (min-width: 1920px) and (max-width: 2560px) {
    .about-me-container {
        margin: 30%;
        margin-top: 15%;
    }

    .img-container-chan::after {
        height: 83.5%;
    }
}